name: conformance

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GO_VERSION: "1.24"
  K8S_VERSION: "v1.33.0"
  KIND_VERSION: "v0.30.0"
  IMAGE_NAME: registry.k8s.io/networking/kube-network-policies
  KIND_CLUSTER_NAME: kind
  NPAPI_VERSION: "v1alpha2"

permissions: write-all

jobs:
  conformance:
    name: conformance
    runs-on: ubuntu-24.04
    timeout-minutes: 100
    strategy:
      fail-fast: false
      matrix:
        ipFamily: ["ipv4", "ipv6"]
    env:
      JOB_NAME: "kube-network-policies-${{ matrix.ipFamily }}"
      IP_FAMILY: ${{ matrix.ipFamily }}
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Enable ipv4 and ipv6 forwarding
      run: |
        ./hack/run-conformance.sh enable_ipv4_and_ipv6_forwarding

    - name: Set up environment (download dependencies)
      run: |
        ./hack/run-conformance.sh setup_environment

    - name: Create multi node cluster
      run: |
        ./hack/run-conformance.sh create_multinode_cluster

    - name: Install network policy APIs
      run: |
        ./hack/run-conformance.sh install_network_policy_apis

    - name: Install kube-network-policies from main
      run: |
        ./hack/run-conformance.sh install_kube_network_policies_from_main

    - name: Get Cluster status
      run: |
        ./hack/run-conformance.sh get_cluster_status

    - name: Run tests
      run: |
        ./hack/run-conformance.sh run_tests

    - name: Upload Junit Reports
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: kind-junit-${{ env.JOB_NAME }}-${{ github.run_id }}
        path: './_artifacts/*.xml'

    - name: Export logs
      if: always()
      run: |
        ./hack/run-conformance.sh export_logs

    - name: Upload logs
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: kind-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
        path: ./_artifacts/logs
